@import '../../styles/variables';

.recommended-landing-page {
  min-height: 500px;
  margin-top: var(--header-height-mobile);
  overflow: hidden;
  padding: 0 var(--gutter) 3em;
  background-color: var(--background-color);

  @media (--tablet-portrait) {
    margin-top: var(--header-height-desktop);
    padding: 0 var(--gutter-desktop) 4em;
  }

  @media (--desktop-large) {
    margin-top: var(--header-height-desktop-large);
    padding: 0 var(--gutter-desktop-large) 5em;
  }
}

.intro {
  font: 300 20px/1.43 var(--font-family-heading);
  margin: 1em auto;
  max-width: 976px;
  text-align: center;

  @media (--tablet-portrait) {
    font-size: 30px;
    margin: 3em auto;
  }
}

.destinations-links {
  font: italic 300 23px/1.29 var(--font-family-heading);
  margin: auto;
  max-width: 1058px;
  text-align: center;

  @media (--tablet-portrait) {
    font-size: 45px;
  }

  span {
    &::after {
      color: black;
      content: " / ";
    }

    &:last-child::after {
      content: normal;
    }
  }

  a {
    color: black;
    position: relative;

    &[href]:hover {
      color: inherit;
      &::after {
        color: black;
      }
    }
  }

  a:not([href]) {

    &::before {
      content: '';
      pointer-events: none;
      position: absolute;
      width: 140%;
      height: 250%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: url('../../images/comingsoon.gif') center no-repeat;
      background-size: contain;
      opacity: 0;
      transition: opacity .2s;
    }

    &:hover {
      &:before {
        opacity: 1;
        transition: opacity .1s;
      }
    }



  }
}

.map-illusration {
  display: block;
  margin: auto;
  max-width: 100%;
  mix-blend-mode: multiply;
}

.bottom-intro,
.bottom-outro {
  font-size: 16px;
  margin: 2em 0;
  text-align: center;
  @media (--tablet-portrait) {
    font-size: 20px;
  }
}