@import '../../styles/variables';

.post {
  overflow: hidden;
  margin-top: var(--header-height-mobile);

  @media (--tablet-portrait) {
    margin-top: var(--header-height-desktop);
  }

  @media (--desktop-large) {
    margin-top: var(--header-height-desktop-large);
  }
}

.hero {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--site-width);
  display: flex;
  flex-direction: column;

  @media (--tablet-portrait) {
    flex-direction: row;
    height: 50vw;
  }

  @media (--desktop-large) {
    height: 700px;
  }
}

.hero .featured-image {
  background-color: #e9e9df;
  flex-basis: 50%;
  position: relative;
}

.hero .featured-image img {
  display: block;
  object-fit: cover;
  object-position: center top;
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
}

.hero .intro-content {
  align-self: flex-end;
  box-sizing: border-box;
  flex-basis: 50%;
  font: 18px/1.67 var(--font-family-sans-serif);
  margin: var(--gutter) 0;
  padding: 0 var(--gutter);

  @media (orientation: landscape), (--tablet-landscape) {
    font: 24px/1.67 var(--font-family-sans-serif);
    margin: var(--gutter-desktop) 0;
    padding: 0 var(--gutter-desktop);
  }

  @media (--desktop-large) {
    margin: var(--gutter-desktop-large) 0;
    padding: 0 var(--gutter-desktop-large);
  }

  em strong,
  strong em {
    font-family: var(--font-family-serif);
    font-size: 1.25em;
  }
}

.hero .intro-content p:first-child {
  margin-top: 0;
}

.hero .intro-content p:last-child {
  margin-bottom: 0;
}

.post .body {
  font: 16px/1.667 var(--font-family-serif);
  margin: 3em auto 15em;
  max-width: var(--site-width);
  padding: 0 var(--gutter);

  @media (orientation: landscape), (--tablet-landscape) {
    font-size: 18px;
    max-width: 50em;
    padding: 0 var(--gracious-gutter);
  }
}

.body img {
  width: 400px;
}

.post .body strong {
  display: block;
  margin: 5em 0 0;

  @media (--tablet-landscape) {
    margin: 6em 0 0;
  }
}

.body blockquote {
  margin: 3em 0;

  @media (--tablet-landscape) {
    margin: 3em -5em;
  }

  & > :first-child::before {
    content: "“";
  }

  & > :last-child::after {
    content: "”";
  }
}