@import '../../styles/variables';

.post {
  background: #f4eee3;
  overflow: hidden;
  margin-top: var(--header-height-mobile);

  @media (--tablet-portrait) {
    margin-top: var(--header-height-desktop);
  }

  @media (--desktop-large) {
    margin-top: var(--header-height-desktop-large);
  }
}

.hero {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--site-width);
  display: flex;
  flex-direction: column;
  padding: 0 var(--gutter);

  @media (--tablet-portrait) {
    flex-direction: row;
    height: 50vw;
    padding: 0 var(--gutter-desktop);
  }

  @media (--desktop-large) {
    height: 700px;
    padding: 0 var(--gutter-desktop-large);
  }

  .featured-image {
    background-color: var(--background-color-alt);
    flex-basis: 50%;
    position: relative;

    img {
      display: block;
      object-fit: cover;
      object-position: center top;
      width: 100%;
      height: 100%;
      mix-blend-mode: multiply;
    }
  }
  .intro-content {
    align-self: flex-end;
    box-sizing: border-box;
    flex-basis: 50%;
    font: 17px/28px var(--font-family-sans-serif);
    margin: var(--gutter) 0;
    padding: 0 var(--gutter);

    @media (--tablet-portrait) {
      font: 14px/24px var(--font-family-sans-serif);
    }
    @media (orientation: landscape), (--tablet-landscape) {
      font: 16px/27px var(--font-family-sans-serif);
      margin: var(--gutter-desktop) 0;
      padding: 0 var(--gutter-desktop);
    }
    @media (--desktop) {
      font: 22px/36px var(--font-family-sans-serif);
    }
    @media (--desktop-large) {
      font: 23px/38px var(--font-family-sans-serif);
      margin: var(--gutter-desktop-large) 0;
      padding: 0 var(--gutter-desktop-large);
    }

    em strong,
    strong em {
      font-family: var(--font-family-serif);
      font-size: 1.25em;
    }
  }
  .intro-content p:first-child {
    margin-top: 0;
  }
  .intro-content p:last-child {
    margin-bottom: 0;
  }
}

a {
  .hero &,
  .body & {
    &:hover {
      color: red;
    }
  }
  .hero & {
    border-bottom: var(--anchor-hero-border-style);
  }
  .body & {
    border-bottom: var(--anchor-border-style);
  }
}

.post .body {
  font: 16px/1.667 var(--font-family-serif);
  margin: var(--gutter) auto;
  max-width: var(--site-width);
  padding: 0 var(--gutter);

  @media (--tablet-portrait) {
    font-size: 18px;
    margin: var(--gutter-desktop) auto;
    max-width: 50em;
    padding: 0 var(--gutter-desktop);
  }

  @media (--desktop-large) {
    margin: var(--gutter-desktop-large) auto;
    padding: 0 var(--gutter-desktop-large);
  }

  img {
    margin: 2em 0;
  }
}

.body blockquote {
  margin: 2em -2em;
  text-align: justify;

  @media (--desktop) {
    margin: 2em -2em;
  }

  & > :first-child::before  {
    content: "“";
  }

  & > :last-child::after {
    content: "”";
  }
}