@import '../../styles/variables';

.navigation {
  background: white;
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 400ms;

  &.isOpen {
    opacity: 1;
    pointer-events: auto;
    transform: none;
  }

  .close-button-area {
    align-items: center;
    align-self: flex-end;
    display: flex;
    height: var(--header-height);
    justify-content: center;
    width: var(--gracious-gutter);
  }

  .close-button {
    appearance: none;
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    height: 21px;
    width: 55px;

    &:focus,
    &:active {
      color: red;
      outline: none;
    }
  }

  .main-navigation {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font: 500 23px/1.22 var(--font-family-sans-serif);
    justify-content: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    a {
      color: inherit;
      margin: 2em 0;
      text-decoration: none;
    }
  }
}