@import '../../styles/variables';

.navigation {
  background: white;
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 400ms;

  &.isOpen {
    opacity: 1;
    pointer-events: auto;
    transform: none;
  }

  .close-button-area {
    align-items: center;
    align-self: flex-end;
    display: flex;
    height: var(--header-height-mobile);
    justify-content: center;
    width: var(--gutter-desktop);

    @media (--tablet-portrait) {
      height: var(--header-height-desktop);
      width: var(--gutter-desktop-large);
    }
  }

  .close-button {
    appearance: none;
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    height: 21px;
    width: 55px;

    &:focus,
    &:active {
      border: none;
      outline: none;
    }
  }

  .main-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    font: 500 20px/1.22 var(--font-family-serif);
    
    .nav-item {
      text-align: center;
      margin-top: 2em;

      span {
        padding: .5em;
        font-size: .8em;
      }

      ul {
        list-style: none;
        margin: .5em 0;
        padding: 0;
        
        li {
          display: block;
          padding: .3em;
          font-size: 1.2em;
        }
      }
    }

    a {
      color: inherit;
      margin: 2em 0;
      text-decoration: none;
    }
  }
}