@import '../../styles/variables';

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.header__inner {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: var(--header-height-mobile);
  margin: auto;
  max-width: var(--site-width);


  @media (--tablet-portrait) {
    height: var(--header-height-desktop);
    padding: 0 75px;
  }

  @media (--desktop-large) {
    height: var(--header-height-desktop-large);
    padding: 0 75px;
  }
}

.logo-area {
  flex-basis: 25%;
  flex-grow: 1;
  text-align: center;

  a {
    display: inline-block;
  }
}

.mainLink {
  color: inherit;
  display: none;
  flex-basis: 50%;
  font: 500 15px/1 AlrightSans;
  text-align: right;
  text-decoration: none;

  &.about-link {
    text-align: left;
  }

  @media (--tablet-portrait) {
    display: inline-block;
  }
}

.menu-button-area {
  width: var(--gutter-desktop);

  @media (--tablet-portrait) {
    display: none;
    text-align: center;
    width: var(--gutter-desktop-large);
  }
}

.menu-button {
  appearance: none;
  position: relative;
  background: transparent;
  border: solid black;
  border-width: 0;
  color: transparent;
  cursor: pointer;
  display: block;
  font-size: 2px;
  height: 10px;
  margin: auto;
  text-align: center;
  width: 8em;
  

  @media (--tablet-portrait) {
    /* border-width: 4px 0; */
    font-size: 7px;
  }

  &:before,
  &:after {
    content: "";
    position: absolute;
    display: block;
    width: 20px;
    height: 2px;
    background: black;
    top: 50%;
    left: 50%;
  }
  &:before {
    transform: translate(-50%,  -3px);
  }
  &:after {
    transform: translate(-50%, 3px);
  }
  &.isOpen{

    &:before {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
    &:after {
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }

  &:focus,
  &:active {
    border: none;
    outline: none;
  }
}