@import '../../styles/variables';

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.header__inner {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: var(--header-height-mobile);
  margin: auto;
  max-width: var(--site-width);


  @media (--tablet-portrait) {
    height: var(--header-height-desktop);
    padding: 0 75px;
  }

  @media (--desktop-large) {
    height: var(--header-height-desktop-large);
  }
}

.logo-area {
  flex-basis: 25%;
  flex-grow: 1;
  text-align: center;

  a {
    display: inline-block;
  }
}

.header__inner {
  & .nav-item {
    display: none;
    flex-basis: 50%;
    cursor: default;
    text-align: left;

    @media (--tablet-landscape) {
      height: 100%;
      display: flex;
      align-items: center;
    }

    &.recommended {
      text-align: right;
    }

    & a:hover {
      color: red;
    }

    ul.dropdown {
      background: var(--background-color);
      box-sizing: border-box;
      overflow: hidden;
      list-style: none;
      margin: 0;

      @media (--tablet-landscape) {
        position: absolute;
        top: 100%;
        right: 50%;
        left: 0;
        height: 0;
        padding: 0 0 0 4.7em;
      }

      @media (min-width: 1585px) {
        padding: 0 0 0 calc(50vw - 722px);
      }

      li {
        display: block;
        padding: .3em 0;
        font-size: 1.2em;

        @media (--tablet-landscape) {
          display: inline-block;

          &:after {
            content: '/';
            margin: 0 .5em 0 .8em;
          }
          &:last-child:after {
            content: none;
          }
        }
      }
    }
    &:hover ul.dropdown {
      height: auto;
    }
    &.recommended {
      justify-content: flex-end;

      ul.dropdown {
        right: 0;
        left: 50%;
        padding: 0 4.7em 0 0;

        @media (min-width: 1585px) {
          padding: 0 calc(50vw - 722px) 0 0;
        }
      }
    }
  }

  .menu-button-area {
    width: var(--gutter-desktop);

    @media (--tablet-landscape) {
      display: none;
      text-align: center;
      width: var(--gutter-desktop-large);
    }
  }

  .menu-button {
    appearance: none;
    position: relative;
    background: transparent;
    border: solid black;
    border-width: 0;
    color: transparent;
    cursor: pointer;
    display: block;
    font-size: 2px;
    height: 10px;
    margin: auto;
    text-align: center;
    width: 8em;


    @media (--tablet-portrait) {
      font-size: 7px;
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
      display: block;
      width: 20px;
      height: 2px;
      background: black;
      top: 50%;
      left: 50%;
    }
    &:before {
      transform: translate(-50%,  -3px);
    }
    &:after {
      transform: translate(-50%, 3px);
    }
    &.isOpen{

      &:before {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
      &:after {
        transform: translate(-50%, -50%) rotate(45deg);
      }
    }

    &:focus,
    &:active {
      border: none;
      outline: none;
    }
  }
}
