@import '../../styles/variables';

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: var(--header-height-mobile);
  z-index: 2;

  @media (orientation: portrait), (--tablet-portrait) {
    /* position: fixed; */
  }

  @media (--tablet-portrait) {
    height: var(--header-height-desktop);
    padding: 0 75px;
  }

  @media (--desktop-large) {
    height: var(--header-height-desktop-large);
    padding: 0 75px;
  }
}

.logo-area {
  flex-basis: 25%;
  flex-grow: 1;
  text-align: center;

  a {
    display: inline-block;
  }
}

.mainLink {
  color: inherit;
  display: none;
  flex-basis: 50%;
  font: 500 15px/1 AlrightSans;
  text-align: right;
  text-decoration: none;

  &.about-link {
    text-align: left;
  }

  @media (--tablet-portrait) {
    display: inline-block;
  }
}

.menu-button-area {
  width: var(--gutter-desktop);

  @media (--tablet-portrait) {
    display: none;
    text-align: center;
    width: var(--gutter-desktop-large);
  }
}

.menu-button {
  appearance: none;
  background: transparent;
  border: solid black;
  border-width: 2px 0;
  color: transparent;
  cursor: pointer;
  display: block;
  font-size: 2px;
  height: 3em;
  margin: auto;
  text-align: center;
  width: 8em;

  @media (--tablet-portrait) {
    border-width: 4px 0;
    font-size: 7px;
  }

  &:focus,
  &:active {
    border-color: red;
    outline: none;
  }
}