@import '../../styles/variables';

.footer {
  /* background-color: #939ca9; */
  /* background-color: #c7cccb; */
  /* background-color: #bcc0c7; */
  /* background-color: #b8bbc1; */
  background-color: #d6d4cb;
  align-items: flex-start;
  /* border-top: 1px solid var(--border-color); */
  box-sizing: border-box;
  font: 500 12px/2.33 var(--font-family-sans-serif);
}

.footer__inner {
  position: relative;
  max-width: var(--site-width);
  margin: auto;
  padding: 1rem var(--gutter) 2rem;
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;
  justify-content: center;
  box-sizing: content-box;

  @media (--tablet-portrait) {
    justify-content: space-between;
    padding: 2em var(--gutter-desktop-large) 3em;
  }

  & > * {
    margin: 2rem 0;
    flex-basis: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    text-align: center;

    @media (--tablet-portrait) {
      flex-basis: 50%;
      text-align: left;
    }
  }

  .tagline {
    font-size: 2em;
    /* font-weight: 300; */

    @media (--tablet-portrait) {
      font-size: 3em;
      order: 1;

      p {
        margin: 0;
      }
    }
  }

  ul.nav {
    padding: 0;
    list-style: none;

    li {
      display: inline-block;
      padding: 1em;
    }
    @media (--tablet-portrait) {
      max-width: 400px;
      display: flex;
      flex-wrap: wrap;
      order: 3;

      li {
        flex-basis: 50%;
        padding: 0;
      }
    }
  }

  .subscribe-form {
    max-width: 400px;
    display: flex;
    flex-flow: row wrap;
    line-height: normal;
    margin: 2rem;

    @media (--tablet-portrait) {
      order: 2;
      margin: 2rem 0;
    }

    input[type="email"] {
      background: transparent;
      border: transparent;
      border-left: none;
      flex-grow: 1;
      font: inherit;
      padding-left: 0;
    }

    input[type="email"]::placeholder {
      color: black;
      text-transform: uppercase;
    }

    input[type="email"]:focus {
      outline-style: none;
    }

    button {
      background: transparent;
      border-color: transparent;
      border-right: none;
      cursor: pointer;
      font: inherit;
      padding-left: 0;
      padding-right: 0;
    }

    p {
      border-top: 1px solid black;
      flex-grow: 1;
      margin: 0;
      padding-top: 0.5em;
      width: 100%;
      text-align: center;

      @media (--tablet-portrait) {
        text-align: left;
      }
    }
  }

  .copyright {
    width: 100%;

    span {
      margin: 0 5px;
    }
    @media (--tablet-portrait) {
      order: 4;
      width: auto;
      text-align: right;
      
      span {
        display: block;
        margin: 0;
      }
    }
  }
  .splat__icon {
    background: transparent;
    border-color: transparent;
    border-right: none;
    width: 70px;
    height: 70px;
    margin-bottom: 3em;

    &:focus {
      outline: none;
    }
    svg {
      max-width: 100%;
      max-height: 100%;
    }
    @media (--tablet-landscape) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
    }
  }
}