@import '../../styles/variables';

.footer {
  align-items: flex-start;
  background-color: #8a8464;
  box-sizing: border-box;
  font: 500 12px/2.33 var(--font-family-sans-serif);
}

.footer__inner {
  box-sizing: content-box;
  position: relative;
  max-width: var(--site-width);
  margin: auto;
  padding: 1rem var(--gutter);
  box-sizing: content-box;
  text-align: center;

  @media (--mobile-landscape) {
    display: flex;
    align-items: flex-start;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  @media (--tablet-landscape) {
    padding: 2em var(--gutter-desktop-large);
  }

  .group {
    margin: 3rem 0;
    flex-basis: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    text-align: center;

    @media (--mobile-landscape) {
      margin: 1rem 0;
      flex-basis: 50%;
      text-align: left;
    }
  }

  .tagline {

    @media (--mobile-landscape) {
      order: 1;

      p {
        margin: 0;
      }
    }
  }

  .nav {
    padding: 0;
    list-style: none;

    @media (--mobile-landscape) {
      column-count: 2;
    }

    a {
      display: inline-block;
    }


    @media (--mobile-landscape) {
      max-width: 400px;
      margin: 1.5em 0;
      order: 3;

      a {
        padding: 0;
      }
    }

    a:hover {
      color: red;
    }
  }

  .subscribe-form {
    max-width: 400px;
    display: flex;
    flex-flow: row wrap;
    line-height: normal;
    margin: 2rem auto;

    @media (--mobile-landscape) {
      order: 2;
      margin: 2rem 0;
    }

    input[type="email"] {
      background: transparent;
      border: transparent;
      border-left: none;
      flex-grow: 1;
      font: inherit;
      padding-left: 0;
    }

    input[type="email"]::placeholder {
      color: black;
      text-transform: uppercase;
    }

    input[type="email"]:focus {
      outline-style: none;
    }

    button {
      background: transparent;
      border-color: transparent;
      border-right: none;
      cursor: pointer;
      font: inherit;
      padding-left: 0;
      padding-right: 0;
    }

    p {
      border-top: 1px solid black;
      flex-grow: 1;
      margin: 0;
      padding-top: 0.5em;
      width: 100%;

      @media (--mobile-landscape) {
        text-align: right;
      }
    }
  }

  .copyright {
    width: 100%;
    margin: 4rem 0 1rem;

    span {
      margin: 0 5px;
      display: block;
    }
    @media (--mobile-landscape) {
      margin: 2.5rem 0 1rem;
      order: 4;
      width: auto;
      text-align: right;

      span {
        margin: 0;
      }
    }
  }
  .splat {
    background: transparent;
    border-color: transparent;
    border-right: none;
    cursor: pointer;
    order: 6;
    transform: scale(.6, .6);

    @media (--tablet-landscape) {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: 0;
      transform: translate(-50%, -50%) scale(.6, .6);
      transition: transform 0.3s;

      &:hover {
        transform: translate(-50%, -50%) scale(.8, .8);
        transition: transform 0.1s;
      }
    }

    &:focus {
      outline: none;
    }
    svg {
      max-width: 100%;
      max-height: 100%;
    }
  }
}