@import '../../styles/variables';

.popup {
  background: hsla(0, 0%, 0%, .65);
  opacity: 0;
  padding: var(--header-height-mobile) var(--gutter);
  pointer-events: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  align-items: center;
  display: flex;
  color: white;
  justify-content: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (--desktop) {
    padding: var(--header-height-desktop) var(--gutter-desktop);
  }

  @media (--desktop-large) {
    padding: var(--header-height-desktop-large) var(--gutter-desktop-large);
  }


  &.isOpen {
    opacity: 1;
    pointer-events: auto;
  }

  &__inner {
    align-items: center;
    background-color: rgb(86, 122, 136);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    padding: 2em;
    position: relative;

    @media (--tablet-landscape) {
      width: 1000px;
      height: 600px;
    }
  }

  &__copy {
    width: 80%;
    font-size: 1.4em;
    text-align: center;

    @media (--tablet-landscape) {
      width: 66%;
      font-size: 2.4em;
    }
  }
  .close {
    position: absolute;
    top: 20px;
    right: 20px;
    background: transparent;
    border-color: transparent;
    border-right: none;
    color: white;
  }
}