@import './variables';

:root {
  font: normal 16px/1.667 HarrietText, Impact;
  text-size-adjust: none;
}

body {
  margin: 0;
  background-color: var(--background-color);
}

/* harrietdisplay-light.woff */
@font-face {
  font-family: HarrietDisplay;
  font-weight: 300;
  src: url('../fonts/harrietdisplay-light.woff') format("woff");
}

/* harrietdisplay-medium.woff */
@font-face {
  font-family: HarrietDisplay;
  font-weight: 500;
  src: url('../fonts/harrietdisplay-medium.woff') format("woff");
}

/* harrietdisplay-bolditalic.woff */
@font-face {
  font-family: HarrietDisplay;
  font-style: italic;
  font-weight: bold;
  src: url('../fonts/harrietdisplay-bolditalic.woff') format("woff");
}

/* harriettext-regular.woff */
@font-face {
  font-family: HarrietText;
  font-weight: normal;
  src: url('../fonts/harriettext-regular.woff') format("woff");
}

/* harriettext-bold.woff */
@font-face {
  font-family: HarrietText;
  font-weight: bold;
  src: url('../fonts/harriettext-bold.woff') format("woff");
}

/* harriettext-bolditalic.woff */
@font-face {
  font-family: HarrietText;
  font-style: italic;
  font-weight: bold;
  src: url('../fonts/harriettext-bolditalic.woff') format("woff");
}


@font-face {
  font-family: AlrightSans;
  font-weight: 500;
  src: url('../fonts/alrightsans-medium.woff') format("woff");
}

h1 {
  font: normal 2em/1 var(--font-family-sans-serif);
  font-weight: 500;
}

h2 {
  font: normal 1.5em/1 var(--font-family-sans-serif);
  font-weight: 500;
}

h3 {
  font: normal 1.17em/1 var(--font-family-sans-serif);
  font-weight: 500;
}

h4 {
  font: normal 1em/1 var(--font-family-sans-serif);
  text-transform: uppercase;
}

h5 {
  font: normal 0.83em/1 var(--font-family-sans-serif);
  text-transform: uppercase;
}

h6 {
  font: normal 0.67em/1 var(--font-family-sans-serif);
  text-transform: uppercase;
}

a {
  color: inherit;
  text-decoration: none;
}

.caps {
  font-family: var(--font-family-sans-serif);
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.small {
  font-family: AlrightSans;
  font-size: 11px;
}

img {
  max-width: 100%;
}

blockquote {
  font: italic bold 26px/1.33 var(--font-family-heading);
  margin: 0;

  @media (--tablet-portrait) {
    font-size: 44px;
  }
}