@import './variables';

:root {
  font: normal 18px/1.667 HarrietText, Impact;
  text-size-adjust: none;
}

body {
  margin: 0;
  background-color: #e9e9df;  
}

/* harriettext-lightitalic.woff */
@font-face{
  font-family: HarrietText;
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/harriettext-lightitalic.woff') format("woff");
}

/* harriettext-regular.woff */
@font-face{
  font-family: HarrietText;
  font-weight: normal;
  src: url('../fonts/harriettext-regular.woff') format("woff");
}

/* harriettext-bold.woff */
@font-face{
  font-family: HarrietText;
  font-weight: bold;
  src: url('../fonts/harriettext-bold.woff') format("woff");
}

/* harriettext-bolditalic.woff */
@font-face{
  font-family: HarrietText;
  font-style: italic;
  font-weight: bold;
  src: url('../fonts/harriettext-bolditalic.woff') format("woff");
}

@font-face{
  font-family: HarrietDisplay;
  font-weight: 500;
  src: url('../fonts/harrietdisplay-medium.woff') format("woff");
}


@font-face {
  font-family: AlrightSans;
  font-weight: 500;
  src: url('../fonts/alrightsans-medium.woff') format("woff");
}

h1 {
  font: normal 1em/1.333 var(--font-family-heading);
  font-weight: 500;
}

h2 {
  font: normal 1em/1.333 var(--font-family-heading);
  font-weight: 500;
}

h4 {
  font: normal 1em/1.333 var(--font-family-sans-serif);
  text-transform: uppercase;
}

a {
  color: inherit;
  text-decoration: none;
}
.caps {
  font-family: AlrightSans;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .15em;
}
.small {
  font-family: AlrightSans;
  font-size: 11px;
}
img {
  max-width: 100%;
}
* {
  box-sizing: border-box;
}