@import './variables';

body {
  font-family: HarrietText, Impact;
  margin: 0;
}

/* harriettext-lightitalic.woff */
@font-face{
  font-family: HarrietText;
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/harriettext-lightitalic.woff') format("woff");
}

/* harriettext-regular.woff */
@font-face{
  font-family: HarrietText;
  font-weight: normal;
  src: url('../fonts/harriettext-regular.woff') format("woff");
}

/* harriettext-bold.woff */
@font-face{
  font-family: HarrietText;
  font-weight: bold;
  src: url('../fonts/harriettext-bold.woff') format("woff");
}

/* harriettext-bolditalic.woff */
@font-face{
  font-family: HarrietText;
  font-style: italic;
  font-weight: bold;
  src: url('../fonts/harriettext-bolditalic.woff') format("woff");
}

@font-face{
  font-family: HarrietDisplay;
  font-weight: 500;
  src: url('../fonts/harrietdisplay-medium.woff') format("woff");
}


@font-face {
  font-family: AlrightSans;
  font-weight: 500;
  src: url('../fonts/alrightsans-medium.woff') format("woff");
}

h1 {
  font-family: var(--font-family-heading);
  font-weight: 500;
}

h2 {
  font-family: var(--font-family-heading);
  font-weight: 500;
}

h4 {
  font: normal 1em/1 var(--font-family-sans-serif);
  text-transform: uppercase;
}