@custom-media --small-viewport (max-width: 767px);
@custom-media --mobile-landscape (min-width: 568px);
@custom-media --tablet-portrait (min-width: 768px);
@custom-media --tablet-landscape (min-width: 1024px);
@custom-media --desktop-large (min-width: 1440px);

:root {
  --border-color: var(--color-light-gray);
  --border-color-dark: #6A6A6A;

  --gutter: 24px;
  --gutter-large: 45px;
  --gracious-gutter: 80px;

  --header-height-mobile: 80px;
  --header-height-desktop: 110px;
  --header-height-desktop-large: 140px;

  --footer-height-mobile: 80px;
  --footer-height-desktop: 114px;
  --footer-height-desktop-large: 228px;

  --site-width: 796px;

  --font-family-heading: HarrietDisplay, Impact, serif;
  --font-family-sans-serif: AlrightSans, Impact, serif;
  --font-family-serif: HarrietText, Impact, sans-serif;

  --fast: 400ms;
  --slow: 800ms;

  --box-shadow: 0 2px 10px hsla(0, 0%, 0%, .2);

  --background-image-down-arrow: url("data:image/svg+xml,<svg width='10' height='5' viewBox='0 0 10 5' xmlns='http://www.w3.org/2000/svg'><path d='M9.243 0L5 4.243.757 0' stroke='#4990E2' fill='none' /></svg>")
}
