@custom-media --small-viewport (max-width: 767px);
@custom-media --mobile-landscape (min-width: 568px);
@custom-media --tablet-portrait (min-width: 768px);
@custom-media --tablet-landscape (min-width: 1024px);
@custom-media --desktop (min-width: 1280px);
@custom-media --desktop-large (min-width: 1440px);

:root {
  --border-color: #8E9093;
  --background-color: #F6F2E9;
  --background-color-alt: #e9e9df;

  --gutter: 24px;
  --gutter-desktop: 45px;
  --gutter-desktop-large: 80px;

  --header-height-mobile: 60px;
  --header-height-desktop: 90px;
  --header-height-desktop-large: 120px;

  --page-margin-mobile: 40px;
  --page-margin-tablet: 90px;
  --page-margin-desktop: 90px;
  --page-margin-desktop-large: 130px;

  --footer-height-mobile: 80px;
  --footer-height-desktop: 114px;
  --footer-height-desktop-large: 228px;

  --site-width: 1440px;

  --font-family-heading: HarrietDisplay, Impact, serif;
  --font-family-sans-serif: AlrightSans, Impact, sans-serif;
  --font-family-serif: HarrietText, Impact, serif;

  --fast: 400ms;
  --slow: 800ms;

  --box-shadow: 0 2px 10px hsla(0, 0%, 0%, .2);

  --background-image-down-arrow: url("data:image/svg+xml,<svg width='10' height='5' viewBox='0 0 10 5' xmlns='http://www.w3.org/2000/svg'><path d='M9.243 0L5 4.243.757 0' stroke='#4990E2' fill='none' /></svg>")
}
