@import '../../styles/variables';

:root {
  --page-width: 870px;
}
a {
  .recommended-detail__excerpt &,
  .place__content &,
  .product__content &  {
    &:hover {
      color: red;
    }
  }
  .recommended-detail__excerpt & {
    border-bottom: var(--anchor-hero-border-style);
  }
  .place__content &,
  .product__content & {
    border-bottom: var(--anchor-border-style);
  }
}
.recommended-detail {
  max-width: var(--site-width);
  min-height: calc(100vh - var(--header-height-mobile) - var(--footer-height-mobile));
  margin: var(--page-margin-mobile) auto;
  padding: var(--page-margin-mobile) 0;
  background-color: var(--background-color);

  @media (--tablet-portrait) {
    min-height: calc(100vh - var(--header-height-desktop) - var(--footer-height-desktop));
    margin: var(--page-margin-tablet) auto;
  }

  @media (--tablet-landscape) {
    margin: var(--page-margin-desktop) auto;
    padding: var(--page-margin-desktop) 0;
  }

  @media (--desktop-large) {
    margin: var(--page-margin-desktop-large) auto;
    min-height: calc(100vh - var(--header-height-desktop-large) - var(--footer-height-desktop-large));
  }

  &__top {
    box-sizing: content-box;
    margin: auto;
    max-width: var(--page-width);
    padding: 0 var(--gutter);
  }

  &__excerpt {

  }

  .title {
    font-size: 34px;
    line-height: 1;
    text-align: center;

    @media (--tablet-portrait) {
      font-size: 39px;
    }

    @media (--tablet-landscape) {
      font-size: 44px;
    }

    @media (--desktop-large) {
      font-size: 55px;
    }
  }

  .recommended-detail__excerpt {
    font: 18px/1.667 AlrightSans, Impact, serif;
    margin: 2em auto;

    @media (--tablet-portrait) {
      max-width: 80%;
    }

    @media (--tablet-landscape) {
      font-size: 21px;
    }

    @media (--desktop-large) {
      max-width: 100%;
      font-size: 26px;
    }
  }

  .map-container {
    border-width: 1px 0;
    border-color: black;
    border-style: solid;
    margin-top: 5em;
    /* -webkit-filter: grayscale(100%); */
    /* mix-blend-mode: multiply; */

    @media (--tablet-landscape) {
      border-width: 1px;
      margin: 5em 2rem 0;
    }
    @media (--desktop-large) {
      width: 1400px;
      margin: 5em auto 0;
    }
  }

  .notice {
    border-bottom: 1px solid black;
    font:  500 17px/1.22 var(--font-family-sans-serif);
    padding-bottom: .5em;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;

    @media (--tablet-landscape) {
      margin: 1.2em 2rem 0;
    }

    @media (--desktop-large) {
      width: 1400px;
      margin: 1.2em auto 0;
    }

    &:empty {
      display: none;
    }

    svg {
      width: 44px;
      margin: -8px 10px;
    }
  }
}


.where-to-go,
.what-to-get {
  box-sizing: content-box;
  margin: 8em auto 4em;
  max-width: var(--page-width);
  padding: 0 var(--gutter);

  @media (--tablet-portrait) {
    margin: 14em auto 8em;
  }

  .section__title {
    text-align: center;
    margin: 5em;
    color: red;
  }
}

.place {
  margin: 6em 0;
  border-top: 1px solid black;

  @media (--tablet-portrait) {
    margin: 8em 0;
    display: flex;
  }

  .place__header {
    margin: 0;
    padding: 1rem;
    list-style: none;
    font-size: .8em;

    @media (--tablet-portrait) {
      padding: 0 1em;
      flex-basis: 35%;
    }

    li {
      margin: 1em 0;
    }
  }

  .place__content {
    padding: 1rem;

    @media (--tablet-portrait) {
      flex-basis: 65%;
    }
  }

  .place__title {
    font: 500 24px/1.22 var(--font-family-heading);

    @media (--desktop) {
      font-size: 36px;
      margin: .7em 0 3em;
    }
  }
}

.product__type {
  padding: 1em;
  border-top: 1px solid black;

  label {
    cursor: pointer;
    display: block;
    padding: 0.25em 0;
    font: 500 24px/1.22 var(--font-family-heading);

    @media (--desktop) {
      font-size: 36px;
    }
  }


  .product {
    background-color: var(--background-color);
    position: relative;
    margin: 2em 0;

    @media (--tablet-portrait) {
      margin: 2em 0;
    }

    .product__title {
      cursor: crosshair;
      a:hover {
        color: red;
      }
    }

    .product__image {
      filter: saturate(0);
      float: right;
      max-width: 35%;
      margin-left: 2em;
      margin-bottom: 1em;
      mix-blend-mode: multiply;
    }

    &:hover .product__image {
      opacity: 1;
    }
  }

  .product_type_checkbox {
    display: none;
  }

  .product_type_checkbox + .product_products {
    display: none;
  }

  .product_type_checkbox:checked + .product_products {
    display: block;
  }
}