@import '../../styles/variables';

.privacy-policy {
  min-height: 100vh;
  max-width: 900px;
  margin: var(--page-margin-mobile) auto;
  padding: 0 var(--gutter);
  font-family: var(--font-family-sans-serif);
  font-size: .9em;
  padding-top: var(--header-height-mobile);

  @media (--tablet-portrait) {
    padding-top: var(--header-height-desktop);
  }

  @media (--desktop-large) {
    padding-top: var(--header-height-desktop-large);
  }

  &__inner {
    @media (--tablet-portrait) {
      margin: var(--page-margin-tablet) auto;
      padding: 0 var(--gutter-desktop);
    }

    @media (--tablet-landscape) {
      margin: var(--page-margin-desktop) auto;
    }

    @media (--desktop-large) {
      margin: var(--page-margin-desktop-large) auto;
      padding: 0 var(--gutter-desktop-large);
    }
  }

  h2 {
    text-align: center;
  }
  .body {
    margin: var(--gutter-desktop-large) 0;

    h1, h2, h3, h4, h5, h6 {
      margin-top: 3em;
      line-height: 1.4;
    }
  }
}

