@import '../../styles/variables';

.about {
  background: #efeddd;
  min-height: 100vh;
  overflow: hidden;
  padding-top: var(--header-height-mobile);

  @media (--tablet-portrait) {
    padding-top: var(--header-height-desktop);
  }

  @media (--desktop-large) {
    padding-top: var(--header-height-desktop-large);
  }

  &__inner {
    margin: var(--page-margin-mobile) auto;
    max-width: 1000px;
    padding: 0 (--gutter);
    text-align: center;

    @media (--tablet-portrait) {
      margin: var(--page-margin-tablet) auto;
      padding: 0 var(--gutter-desktop);
    }

    @media (--tablet-landscape) {
      margin: var(--page-margin-desktop) auto;
    }

    @media (--desktop-large) {
      margin: var(--page-margin-desktop-large) auto;
      padding: 0 var(--gutter-desktop-large);
    }
  }

  .intro {
    margin: 1em;
    font-size: 1.2em;

    @media (--tablet-portrait) {
      margin: 1em 0;
      font-size: 1.5em;
    }
  }
  .content {
    max-width: 1000px;
    margin: 3em 0 0;

    @media (--tablet-portrait) {
      display: flex;
      margin: 5em 0 0;
    }

    & > * {
      flex-basis: 50%;
    }
  }
  .cartoon {
    padding: 5.2em 3em;

    img {
      mix-blend-mode: multiply;
    }
  }
  .before-about {
    margin: 2em;
    text-align: left;

    @media (--tablet-portrait) {
      margin: 0;
    }

    h2 {
      font-family: AlrightSans;
      font-weight: 500;
      text-transform: uppercase;
      font-size: 1.1em;
      letter-spacing: .15em;
      line-height: 1.2;

      @media (--tablet-portrait) {
        /* font-size: 1.4em; */
      }
    }
  }
}