@import '../../styles/variables';

.about {
  min-height: 100vh;
  max-width: 1000px;
  overflow: hidden;
  text-align: center;
  margin: var(--page-margin-mobile) auto;
  
  @media (--tablet-portrait) {
    margin: var(--page-margin-desktop) auto;
  }
  
  .intro {
    margin: 1em;
    font-size: 1.2em;
    
    @media (--tablet-portrait) {
      margin: 1em 0;
      font-size: 1.5em;
    }
  }
  .content {
    max-width: 1000px;
    margin: 3em 0 0;
    
    @media (--tablet-portrait) {
      display: flex;
      margin: 5em 0 0;
    }

    & > * {
      flex-basis: 50%;
    }
  }
  .cartoon {
    padding: 5.2em 3em;
    background-color: #e9e9df;

    img {
      mix-blend-mode: multiply;
    }
  }
  .before-about {
    margin: 2em;
    text-align: left;

    @media (--tablet-portrait) {
      margin: 0;
    }
    
    h2 {
      font-family: AlrightSans;
      font-weight: 500;
      text-transform: uppercase;
      font-size: 1.1em;
      letter-spacing: .15em;
      line-height: 1.2;
      
      @media (--tablet-portrait) {
        /* font-size: 1.4em; */
      }
    }
  }
}