@import '../../styles/variables';
@import "./slick-theme.css";

body {
  background-color: #e9e9df
}
.home {
  margin-top: var(--header-height-mobile);
  min-height: calc(100vh - var(--header-height-mobile) - var(--footer-height-mobile));
  overflow: hidden;
  text-align: center;
  border-top: 1px solid #555555;
  
  @media (--tablet-portrait) {
    margin-top: var(--header-height-desktop);
    min-height: calc(100vh - var(--header-height-desktop) - var(--footer-height-desktop));
    display: flex;
  }
  
  @media (--desktop-large) {
    margin-top: var(--header-height-desktop-large);
    min-height: calc(100vh - var(--header-height-desktop-large) - var(--footer-height-desktop-large));
  }
}
.home > * {
  flex-basis: 50vw;
  overflow: hidden;
  padding: 2em 0;
}
.home h4 {
  font-size: 1.2em;
}
.home > .conversations {
  /* background-color: #f9f2dd; */
}
.home > .recommended {
  /* background-color: #cedacc; */

}
.content {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}
.conversations {

  @media (--tablet-portrait) {
    border-right: 1px solid #888888;
  }
}
.conversation {
  padding: 2em 0;

  .image {
    width: 65vw;
    height: 65vw;
    margin: 0 auto;
    mix-blend-mode: multiply;
    
    @media (--tablet-portrait) {
      width: 30vw;
      height: 30vw;
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &:hover .image {
    mix-blend-mode: multiply;
  }
  .title {
    margin: .3em 0;
  }

  .date {
    
  }
}
.intro {
  font-size: 1.3em;
  margin: 1em 5vw;

  .recommended & {
    font-size: 3.3em;
  }
  em {
    font-size: 1.2em;
    font-weight: 600;
  }
}
.recommended {

  .content {
    width: 90%;
    margin: 2em auto;
  }
}