@import '../../styles/variables';

.home {
  background-color: #e0ded5;
  overflow: hidden;
  text-align: center;

  @media (--tablet-portrait) {
    display: flex;
    min-height: calc(100vh - 377px);
  }

  @media (--tablet-landscape) {
    min-height: calc(100vh - 275px);
  }
}

.home {
  .conversations,
  .recommended {
    display: flex;
    flex-basis: 50vw;
    flex-direction: column;
    overflow: hidden;
    padding-top: 45px;

    @media (--tablet-portrait) {
      padding-top: 55px;
    }

    @media (--desktop-large) {
      padding-top: 70px;
    }
  }

  .top {
    flex-basis: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    @media (--desktop-large) {
      flex-basis: 120px;
    }
  }

  h4 {
    a {
      position: relative;
      &:hover {
        color: red;
      }
    }

    a::before {
      border-bottom: 2px solid transparent;
      content: '';
      position: absolute;
      left: 0;
      right: 4px;
      bottom: -5px;
      height: 1px;
    }

    a::before:hover {
      border-bottom-color: black;
    }
  }

  .content {
    flex-grow: 1;
  }

  .footnote a {
    border-bottom: 1px solid red;
    &:hover {
      color: red;
    }
  }
}

.conversations {
  background-color: var(--posts-accent-color);

  @media (--tablet-portrait) {
    order: -1;
  }
  .content {

    button {
      font-size: 1em;

      &:hover {
        color: red;
      }
    }
  }
}

.conversation {
  @media (--tablet-portrait) {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .image {
    width: 65vw;
    height: 65vw;
    margin: 0 auto;
    background-color: var(--posts-accent-color);


    @media (--tablet-portrait) {
      width: 25vw;
      height: 25vw;
    }
    @media (--desktop-large) {
      width: 360px;
      height: 360px;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      mix-blend-mode: multiply;
    }
  }

  &:hover .image {
    mix-blend-mode: multiply;
  }


  .excerpt {
    margin: auto;
    max-width: 62%;
    min-height: 8em;
    padding: 0 1em;

    @media (--tablet-portrait) {
      padding: 0 50px;
    }

    @media (--desktop-large) {
      max-width: 500px;
      min-height: 8em;
      margin: 1em auto;
    }

    .title {
      margin: 1.5em 0 .3em;
    }

    a {
      border-bottom: 1px solid red;

      &:hover {
        color: red;
      }
    }

    strong {
      font-size: larger;
    }

    .tagline {
      font: 300 16px var(--font-family-serif);
      line-height: normal;

      p {
        margin-top: 0;
      }
    }
  }
}

.recommended {
  .home & {
    background-color: var(--recommended-accent-color);
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 var(--gutter);

    @media (--tablet-portrait) {
      padding: 0 var(--gutter-desktop);
      max-width: 500px;
      margin: 1em auto 1em;
    }

    @media (--desktop-large) {
      max-width: 560px;
      margin: 2em auto 1em;
      padding: 0 var(--gutter-desktop-large);
    }

    blockquote {
      padding-bottom: .5em;
      font-style: normal;
      font-weight: 300;

      @media (--tablet-portrait) {
        font-size: 26px;
      }

      @media (--tablet-landscape) {
        font-size: 34px;
      }

      @media (--desktop) {
        font-size: 39px;
      }

      @media (--desktop-large) {
        padding-bottom: 1em;
        font-size: 47px;
      }

      p:first-child {
        margin-top: 0;
      }

      p:last-child {
        margin-bottom: 0;
      }
    }

    .small {
      a {
        border-bottom: 1px solid red;

        &:hover {
          color: red;
        }
      }
    }
  }

  .destination {
    font-size: .8em;

    a:hover {
      color: red;
    }
  }

  .destination {
    margin-right: .5rem;
    display: inline-block;

    .middot {;
      margin-right: .5rem;
    }

    &:first-child {
      .middot {
        display: none;
      }
    }

    .comingsoon {
      position: relative;
      color: #d0bfbf;

      &::before {
        content: '';
        position: absolute;
        width: 140%;
        height: 250%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: url('../../images/comingsoon.gif') center no-repeat;
        background-size: contain;
        opacity: 0;
        pointer-events: none;
        transition: opacity .2s;
      }

      &:hover {
        &:before {
          opacity: 1;
          transition: opacity .1s;
        }
      }
    }
  }
}
