@import '../../styles/variables';
@import "./slick-theme.css";

body {
  background-color: #e9e9df
}
.home {
  margin-top: var(--header-height-mobile);
  min-height: calc(100vh - var(--header-height-mobile) - var(--footer-height-mobile));
  overflow: hidden;
  text-align: center;
  
  @media (--tablet-portrait) {
    margin-top: var(--header-height-desktop);
    min-height: calc(100vh - var(--header-height-desktop) - var(--footer-height-desktop));
    display: flex;
  }
  
  @media (--desktop-large) {
    margin-top: var(--header-height-desktop-large);
    min-height: calc(100vh - var(--header-height-desktop-large) - var(--footer-height-desktop-large));
  }
}
/* .mainLink {
  display: none;
} */
.home {
  
  & > * {
    flex-basis: 50vw;
    overflow: hidden;
    padding: 2em 0;
  }
  h4 {
    font-size: 1.2em;
  }
}
.conversations {

  @media (--tablet-portrait) {
    border-right: 1px solid var(--border-color);
  }
}
.conversation {
  padding: 1.5em 0;

  .image {
    width: 65vw;
    height: 65vw;
    margin: 0 auto;
    
    @media (--tablet-portrait) {
      width: 30vw;
      height: 30vw;
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &:hover .image {
    mix-blend-mode: multiply;
  }
  .title {
    margin: .3em 0;
  }

  .date {
    
  }
}
.recommended {

  .content {
    width: 90%;
    margin: 2em auto;
  }
  .destination {
    margin: 0 .5em;

    &:before {
      content: '+';
    }
  }
}

.intro {
  font-size: 1.3em;
  margin: 1em 5vw;

  .recommended & {
    font-size: 2.6em;
  }
  em {
    font-size: 1.2em;
    font-weight: 600;
  }
}