@import '../../styles/variables';

.home {
  margin-top: var(--header-height-mobile);
  overflow: hidden;
  text-align: center;

  @media (--tablet-portrait) {
    margin-top: var(--header-height-desktop);
    display: flex;
    border-top: 1px solid #8E9093;
  }

  @media (--tablet-landscape) {
    min-height: calc(100vh - 445px);
  }

  @media (--desktop-large) {
    min-height: calc(100vh - 475px);
    margin-top: var(--header-height-desktop-large);
  }
}

.home {
  .conversations,
  .recommended {
    display: flex;
    flex-basis: 50vw;
    flex-direction: column;
    overflow: hidden;
  }

  .top {
    flex-basis: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }

  h4 {
    a {
      position: relative;
    }

    a::before {
      border-bottom: 2px solid transparent;
      content: '';
      position: absolute;
      left: 0;
      right: 4px;
      bottom: -5px;
      height: 1px;
    }

    a::before:hover {
      border-bottom-color: black;
    }
  }

  .content {
    flex-grow: 1;
  }
}

.conversations {
  padding-bottom: 2em;

  @media (--tablet-portrait) {
    order: -1;
    border-right: 1px solid var(--border-color);
  }
}

.conversation {
  @media (--tablet-portrait) {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .image {
    width: 65vw;
    height: 65vw;
    margin: 0 auto;
    background-color: var(--background-color);

    @media (--tablet-portrait) {
      width: 30vw;
      height: 30vw;
    }
    @media (--desktop-large) {
      width: 430px;
      height: 430px;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      mix-blend-mode: multiply;
    }
  }

  &:hover .image {
    mix-blend-mode: multiply;
  }

  .title {
    margin: 1em 0;
  }

  .excerpt {
    padding: 0 50px;

    @media (--desktop-large) {
      max-width: 500px;
      margin: 2em auto 1em;
    }
    a {
      border-bottom: 1px solid red;

      &:hover {
        color: red;
      }
    }

    strong {
      font-size: larger
    }
  }

}


.recommended {
  .content {
    padding: 0 var(--gutter);

    @media (--tablet-portrait) {
      padding: 0 var(--gutter-desktop);
      max-width: 500px;
      margin: 2em auto 1em;
    }
    @media (--desktop-large) {
      max-width: 560px;
      margin: 2em auto 1em;
      padding: 0 var(--gutter-desktop-large);
    }

    blockquote {
      padding-bottom: .5em;

      @media (--tablet-portrait) {
        font-size: 26px;
      }

      @media (--tablet-landscape) {
        padding-bottom: 1em;
        font-size: 34px;
      }

      @media (--desktop) {
        font-size: 39px;
      }

      @media (--desktop-large) {
        font-size: 47px;
      }
    }
  }

  .destination {
    font-size: .8em;
  }

  .destination {
    margin-right: .5rem;
    display: inline-block;

    .middot {;
      margin-right: .5rem;
    }
    &:first-child {
      .middot {
        display: none;
      }
    }
    .comingsoon {
      position: relative;
      color: #777777;

      &:before {
        content: '';
        position: absolute;
        width: 140%;
        height: 250%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: url('./comingsoon.gif') center no-repeat;
        background-size: contain;
        opacity: 0;
        transition: opacity .2s;
      }
      &:hover {
        &:before {
          opacity: 1;
          transition: opacity .1s;
        }
      }
    }
  }
}
