@import '../../styles/variables';

.not-found {
  min-height: 30vh;
  overflow: hidden;
  margin: 8vh auto;
  padding: var(--gutter);
  text-align: center;
  
  @media (--mobile-landscape) {
    width: 600px;
    padding: var(--gutter-desktop);
  }
  
  @media (--tablet-portrait) {
    padding: var(--gutter-desktop-large);
  }
  h1 {
    color: red;
    font-size: 9em;
    margin: 1rem 0.5rem 3rem 0;
    
    @media (--tablet-portrait) {
      font-size: 14em;
    }
  }
}