@import '../../styles/variables';

.logo {
  display: block;
  height: 26px;

  @media (--tablet-portrait) {
    height: 34px;
  }
  @media (--tablet-landscape) {
    height: 44px;
  }
  @media (--desktop-large) {
    height: 55px;
  }
}