@import '../../styles/variables';

.logo {
  display: block;
  height: 26px;
  overflow: visible;

  @media (--tablet-portrait) {
    height: 44px;
  }

  @media (--desktop-large) {
    height: 55px;
  }
}

.dot {
  animation: bounce-dot infinite .8s ease alternate;
}

@keyframes bounce-dot {
  from { transform: translateY(0px); }
  to { transform: translateY(-15px); }
}